body {
    background: #FFF;
    color: #5e6c77;
}
.form-box{
    width: 70%;
}
.cp_ipradio {
	width: 90%;
	margin: 2em auto;
	text-align: left;
}
.cp_ipradio input[type='radio'] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_ipradio label {
	position: relative;
	display: inline-block;
	margin-right: 30px;
	padding-right: 10px;
	padding-left: 35px;
	cursor: pointer;
	height: 30px;
    line-height: 2;
}
.cp_ipradio label::before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 24px;
	height: 24px;
	content: ' ';
	border: 2px solid #da3c41;
	border-radius: 4px;
}
.cp_ipradio input[type='radio'] + label::before {
	border-radius: 18px;
}
.cp_ipradio input[type='radio']:checked + label {
	padding-left: 10px;
	color: #ffffff;
}
.cp_ipradio input[type='radio']:checked + label::before {
	top: 0;
	width: 100%;
	height: 100%;
	background: #da3c41;
}
/* Transition */
.cp_ipradio label, .cp_ipradio label::before {
	-webkit-transition: 0.25s all ease;
	        transition: 0.25s all ease;
}

.battle-button {
  margin: 0 auto;
  width: 70%;
  display: block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.battle-button:hover {
  background: #67c5ff;
  color: white;
}